html {
	background: black;
	font-size: 3.5vmin;
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

#clock {
	position: relative;
	text-align: left;
	display: inline-block;
	padding: 1em;
	background: rgba(1,1,1,.4);
	color: grey;
	border: 1px solid #222;
	border-radius: .5em;
	font-family: 'Courier New', monospace;
	word-spacing: -1.1em;
	letter-spacing: .5em;
	white-space: nowrap;
	transition: margin 1s;
}
#clock > .word {
	text-transform: uppercase;
	font-size: 2em;
	word-spacing: 0em;

	opacity: .1;

	transition: all 3s;
}

#clock > .word.on {
	opacity: 1;
	color: #0af;
	text-shadow: 0 0 5px #6bf;
}

#clock > .indicator {
	position: absolute;
	width: .2em;
	height: .2em;
	border-radius: 1em;
	border: 1px solid #111;
	background: #222;

	transition: background 3s;
}

#clock > .indicator.on {
	background: red;
}

#clock > .indicator#indi_1 {
	top: .4em;
	left: .4em;
}

#clock > .indicator#indi_2 {
	top: .4em;
	right: .4em;
}

#clock > .indicator#indi_3 {
	bottom: .4em;
	left: .4em;
}

#clock > .indicator#indi_4 {
	bottom: .4em;
	right: .4em;
}
